---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
import * as FormateDate from "../../scripts/FormatDate";

export const getStaticPaths = (async() => {
    const allPosts = await getCollection("blog");
    const uniqueTags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

    return uniqueTags.map((tag) => {
        const filterPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
        return {
            params: {tag},
            props: {posts: filterPosts},
        }
    });
}) satisfies GetStaticPaths;

const {tag} = Astro.params;
const {posts} = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with <em>#{tag}</em></p>
    <ul>
        {posts.map((post: any) => {
            // url=`${datePath(post.data.pubDate)}/${post.id}`
            // will get reletive path likes `kassadin.moe/tags/2025/01/01/post-1`
            //
            // url=`/${datePath(post.data.pubDate)}/${post.id}`
            // will get absolute path likes `kassadin.moe/2025/01/01/post-1`
            return (<BlogPost url=`/${FormateDate.datePath(post.data.pubDate)}/${post.id}` title={post.data.title} />)
        })}
    </ul>
</BaseLayout>